################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/SquadflowAI/SquadflowAI.API/appsettings.Development.json
/dotnet/SquadflowAI/SquadflowAI.API/appsettings.Development.json
